body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#cardDescription {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

#card-img {
  height: 300px;
}


.mdSearchSm {
  width: 100%;
}

.modalColumn {
  flex: 50%;
}

.modalRow {
  display: flex;
}

#modal-img {
  min-width: 100%;
  height: 300px;
}

#edit-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  height: 300px;
}

#card-animation {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
  transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
  cursor: pointer;
}

#card-animation:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}


#home-banner {
  position: relative;
}

#home-banner > img {
  height: 50vh;
  object-fit: cover;
  opacity: 1;
  width: 100%;
  filter: brightness(60%);
}

#cta {
    left: 50%;
    margin: auto;
    position: absolute;
    text-align: center;
    top: 55%;
    transform: translate(-50%,-20%);
    width: 100%;
    z-index: 2;
    color: white;
}

.add-adopt-pic {
  height: 200px;
  object-fit: cover;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: rgb(9, 185, 244);
  cursor: pointer;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color:rgb(9, 185, 244);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* for sm screen size */
@media screen and (min-width: 768px) {
  .mdSearchSm {
    width: 50%;
  }
}



/* for md screen size and above */
@media screen and (min-width: 768px) {
  #card-img {
    height: 250px;
  }

  .mdSearch {
    width: 50%;
  }

  #edit-img {
    width: 700px;
    height: 350px;
  }

  .add-adopt-pic {
    height: 300px;
  }

}

/* for lg screen size and above */
@media screen and (min-width: 992px) {
  .mdSearch {
    width: 100%;
  }

  .mdSearchSm {
    width: 100%;
  }

  #modal-img {
    min-width: 50%;
  }


}