body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#cardDescription {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
          line-clamp: 3; 
  -webkit-box-orient: vertical;
}

#card-img {
  height: 300px;
}

#modal-img {
  width: 100px;
}

.mdSearchSm {
  width: 100%;
}

.modalColumn {
  flex: 50%;
}

.modalRow {
  display: flex;
}


/* for sm screen size */
@media screen and (min-width: 768px) {
  .mdSearchSm {
    width: 50%;
  }
}



/* for md screen size and above */
@media screen and (min-width: 768px) {
  #card-img {
    height: 250px;
  }

  .mdSearch {
    width: 50%;
  }


}

/* for lg screen size and above */
@media screen and (min-width: 992px) {
  .mdSearch {
    width: 100%;
  }

  .mdSearchSm {
    width: 100%;
  }
}